@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body,
html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: rgb(188, 181, 43);
    height: 100%;
    font-weight: 800;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-form {
    height: 500px;
    width: 400px;
    padding: 35px;
    background-color: rgb(239, 239, 226);
    border-radius: 10px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-login {
    height: 35px;
    border-radius: 20px;
    font-weight: 700;
}

.link {
    color: #0037ff;
    text-decoration: none;
}

.link:hover {
    color: #3689ff;
    text-decoration: none;
}
